.App {
  text-align: center;
  font-size: 30px;
  background: rgb(34, 59, 54);
}

.FirstComponent{
  color: yellowgreen;
}

.SecondComponent{
  color:navajowhite;
}

.ThirdComponent{
  color:blueviolet;
}

.FourthComponent{
  color: tomato;
}